name: Build and Push Docker image

on:
  push:
    branches:
      - main   # change to 'master' if your default branch is master
  workflow_dispatch: # allow manual trigger from GitHub UI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t esraasaiedkhalil/create-plan-ai:latest .

      - name: Push Docker image
        run: |
          docker push esraasaiedkhalil/create-plan-ai:latest
